<form method="post" action="{{ path('app_soutenance_delete', {'numjury': soutenance.numjury}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ soutenance.numjury) }}">
    <button class="btn btn-danger">Delete</button>
</form>
