body {
    background-color: skyblue;
}
.navbar {
    background-color: #f8f9fa !important;
}

.navbar .btn-danger {
    border-radius: 50px;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}