<form method="post" action="{{ path('app_enseignant_delete', {'matricule': enseignant.matricule}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ enseignant.matricule) }}">
    <button class="btn btn-danger">Delete</button>
</form>
