{% extends 'base.html.twig' %}

{% block title %}New Enseignant{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Create New Enseignant</h1>

        <div class="card p-4 mt-3">
            {{ include('enseignant/_form.html.twig', {'button_label': 'Add'}) }}
        </div>

        <div class="mt-3">
            <a href="{{ path('app_enseignant_index') }}" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Back to list
            </a>
        </div>
    </div>
{% endblock %}
