{% extends 'base.html.twig' %}

{% block title %}Edit Etudiant{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Edit Etudiant</h1>

        <!-- Edit Form -->
        <div class="card p-4 mt-3">
            {{ include('etudiant/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

        <!-- Buttons for navigation -->
        <div class="d-flex justify-content-between mt-3">
            <a href="{{ path('app_etudiant_index') }}" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Back to list
            </a>
        </div>
    </div>
{% endblock %}
