{% extends 'base.html.twig' %}

{% block title %}New Etudiant{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Create New Etudiant</h1>

        <div class="card p-4 mt-3">
            {{ include('etudiant/_form.html.twig') }}
        </div>

        <div class="mt-3">
            <a href="{{ path('app_etudiant_index') }}" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Back to list
            </a>
        </div>
    </div>
{% endblock %}
